<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de agendamento</title>
  <link rel="stylesheet" href="/relieve.css">
</head>
<body>
  <%- include('../partials/navbar.ejs', {item: ['active', '', '', '']}); %>
  <%- include('../partials/navbar_calendar.ejs', {item: ['', '', '', '']}); %>

 <div class="container">
   <h1>Consulta</h1>
    <p><strong>Nome: </strong><%= itemEdit.client.name %></p>
    <p><strong>E-mail: </strong><%= itemEdit.client.email %></p>
    <p><strong>Descrição: </strong><%= itemEdit.description %></p>
    <p><strong>CPF: </strong><%= itemEdit.client.cpf %></p>
    <p><strong>Data: </strong><%= itemEdit.date %></p>
    <p><strong>Inicio: </strong><%= itemEdit.timestart %></p>
    <p><strong>Fim: </strong><%= itemEdit.timeend %></p>

    <% if (!itemEdit.finished) { %>
      <form action="/finish" method="post">
        <input type="hidden" name="id" id="id" value="<%= itemEdit.id %>">
        <button class="button blue">Finalizar Consulta</button>
      </form>
    <%}%>

    <form action="/consultation/edit" method="get">
      <input type="hidden" name="id" id="id" value="<%= itemEdit.id %>">
      <button class="button orange">Editar Consulta</button>
    </form>


 </div>

  
  
</body>
</html>